.footer{
  background-color: #012800a4;
  padding: 119px 0;
  margin: 60px auto;
}

.footer__logo-link{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  
  color: rgb(255, 255, 255);
}

.footer__item{
  display: flex;
  flex-wrap: wrap;
}

.footer__logo{
  width: 30%;
}

.footer__logo-link{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 24px;
  color: #FFF;
  
  background-size: 70px;
}

.footer__nav{
  width: 70%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer__menu-title{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  color: #000000;
}

.footer__menu-link{
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

.footer__menu-link:hover,
.footer__menu-link:focus,
.footer__menu-link:active{
  color: #aef4b3;
}

@media screen and (max-width: 780px) {

  .footer{
    width: 760px;
  }

  .footer__logo-link{
    font-size: 25px;
    padding-left: 25px;
  }
}

@media screen and (max-width: 480px) {

  .footer{
    width: 460px;
    margin: 65px auto;
  }

  .footer__logo-link{
    font-size: 15px;
    padding-left: 15px;
  }
}